@import 'utilities.css';
:root {
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
    --secondary: #070606;
}

body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
header {
    background: var(--dark);
    height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%);
}

textarea{
    /* display: flex; */
    display: block;
    margin-left: 50%;
    margin-right: 10%;
    text-align: justify;
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
    width: 50%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    padding-right: 50%;
}

input{
    display:block;
    margin-left: 50%;
    margin-right: 50%;
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.downImg{
        height: 100px;
        width: 80px;
       
}


.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

    header nav .left a:hover {
        color: var(--primary);
    }
    header nav {
        padding: 2rem 0;
    }

header nav .branding {
    margin-right: 3rem;
}

.hero .left img {
    width: 400px;
}

.hero .right {
    color: var(--pure);
}

.hero .right h5 {
        font-size: 1.6rem;
        color: var(--primary);
        margin-bottom: 0.5rem;
 }

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

section {
    padding: 6rem 0;
}
section.about .right{
    padding: 0 3rem;
}

section.about h1{
    margin: 1rem 0;
    margin-bottom: 0.5rem;
    font-size:1.8rem;
    font-weight: 600;
}

    section.about h3 {
        margin: 1rem 0;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
    }

section.services .container h1 {
    font-size: 2rem;
    padding: 0rem 18rem;
    padding-bottom: 2rem;

} 
.services .container .project img {
    width: 900px;
}

section.left .right h1{
    font-size: 2rem;
    padding-bottom: 2rem;
}

section.left .right h2 {
    line-height: 2;
}

section.Use .heading {
    background: var(--dark);
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 70%, 0 100%);
}

section.Use .heading h1{
    color: var(--pure);
    font-size: 1.9rem;
    margin-left: 25rem;
    padding-top: 4rem;
}

section.Use .steps{
    margin: 3rem 10rem;
}

section.Use .steps h3 {
    line-height: 2;
}

section.form {
    background: var(--dark);
    padding-left: 25rem;
    color: var(--pure);
}

section.form h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}


    section.form .video input {
        font-size: 1.5rem;
        padding: 0.5rem 8rem;
    }

    section.form .mb-3 {
        margin-bottom: 1rem;
        
    }

    section.form select {
        font-size: 1.5rem;
        padding: 0.5rem 14rem;
        margin-left: 4rem;
        margin-bottom: 3rem;
    }

    section.form label {
        font-size: 1.5rem;
        margin-left: 4rem;
    }

    section.form input {
        margin-left: 4rem;
        margin-bottom: 3rem;
    }
    section.form button {
        margin-left: 15rem;
        margin-bottom: 2rem;
    }
